body{
	background: #025ca6;
	overflow: hidden;
}
.container{
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	justify-items: center;
}
.form{
	border: 5px solid gray;
	display: grid;
	justify-items: center;
	align-items: center;
	font-size: 30px;
	height: 150px;
	width: 450px;
	color: #025ca6;
	background: white;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.plan{
	background: gray;
	grid-row-start: 1;
	display:grid;
	grid-template-columns: 1fr 4fr;
	text-align: center;
	height: 500px;
	width: 1000px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	width: 400px;
}
.info{
	background: white;
	margin-left: 50px;
	display: grid;
	height: 470px;
	border: 5px solid #025ca6;
}
.content{
	background: white;
	display: grid;
	grid-template-rows: 1fr 1fr 4fr;
	height: 350px;
	width: 700px;
	justify-items: center;
	border: 5px solid #025ca6;
}
.table{
	overflow: auto;
}
.error{
	color: red;
	margin-top: 5px;
	margin-bottom: 5px;
}