body{
	background: #025ca6;
	overflow: hidden;
}
.container{
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	justify-items: center;
}
.form{
	display: grid;
	justify-items: center;
	align-items: center;
	font-size: 30px;
	height: 150px;
	width: 450px;
	color: #025ca6;
	background: white;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.plan{
	display:grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	height: 400px;
	width: 1000px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	width: 400px;
}
.info{
	display: grid;
	height: 200px;
	border: 5px solid #025ca6;
}
.content{
	margin-top: 15px;
	display: grid;
	grid-template-rows: 1fr 1fr 4fr;
	height: 350px;
	justify-items: center;
}
.table{
	overflow: auto;
}